
*{
   
    background-color:white;
}
/*body>p{
    color: red;
}*/

.a ,.b{
    color: red;
}

body p{
color: red;
}

a:hover{
    color: red;
}
/* a:visited
{
    color: yellow;
} */
/* a:link{
    color: pink;
} */
a:active{
    color:green
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display:inline-flex;
  }
  